@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400;700&display=swap');

/*===== Common CSS =====*/
*{ padding: 0; margin: 0; }
:root { --primary: #E34234; --secondary: #212121; --white: #FFFFFF; }
::selection{ background: var(--secondary); color: var(--white); }
body { padding: 8px; background-color: var(--secondary); color: var(--white); font-size: 16px; overflow-x: hidden; perspective: 1000px; display: flex; align-items: center; justify-content: center; }
body, h1, h2, p{ font-family: 'Orbitron', sans-serif; color: var(--white); }
img{ user-select: none; }
h1{ margin-bottom: 48px; font-size: 26px; font-style: normal; font-weight: 400; line-height: normal; letter-spacing: 1px; }
section{ max-width: 740px; margin: 0 auto; border-radius: 36px; background: var(--secondary); box-shadow: 0px 4px 47.6px 0px rgba(0, 0, 0, 0.50); }
.container{ max-width: 700px; margin: 0 auto; }

/*===== Logo =====*/
.head-logo{ position: relative; margin-bottom: 48px; }
.head-logo img{ width: 82px; margin: 0 auto; display: block; }

/*===== Banner =====*/
.main-banner{padding: 16px;background: linear-gradient(180deg, #E34234 0%, rgba(255, 87, 51, 0.00) 100%);}
.main-banner ul{ padding-top: 40px; flex-direction: column; position: relative;}
.main-banner .banner-img {width: 100%;height: 360px;display: flex;align-items: center;justify-content: start;position: relative;z-index: 1;}
.main-banner .banner-img::after { content: ""; position: absolute; inset: 80% 0 8px 30px; translate: 0; transform: translateZ(110px); background: rgb(0 0 0); filter: blur(25px); z-index: -1; transition: rotate 400ms, translate 400ms; rotate: x calc(20deg * -1); border-radius: 100%; }
.main-banner .banner-img img{ width: 300px; height: auto; object-fit: contain; object-position: center center; position: absolute; bottom: 0; }
.main-banner .banner-img img:nth-child(1){ left: -6%; z-index: 1; width: 280px; }
.main-banner .banner-img img:nth-child(2){ left: 14%; z-index: 2; width: 226px; }
.main-banner .banner-img img:nth-child(3){ left: 27%; z-index: 3; width: 300px; }
.main-banner .banner-img img:nth-child(4){ right: 18%; z-index: 2; width: 230px; }
.main-banner .banner-img img:nth-child(5){ right: -4%; z-index: 1; width: 280px; }

/*===== Characters =====*/
.characters { padding: 38px 16px 16px; }
/* slider */
.swiper-container{ padding: 0 0 20px; } 
.swiper-slide .card{ min-height: 242px; padding: 20px 0 0; position: relative; z-index: 1; background: transparent; border: 0; box-shadow: none; }
.layer{ border-radius: 10px; border: 1px solid rgb(128 128 128 / 28%); background-color: rgba(128, 128, 128, 0.12); backdrop-filter: blur(4.6px); position: absolute; top: 0; left: 0; height: 100%; width: 100%; transition: all 0.35s ease-in-out; }
.swiper-slide .card:hover .layer { background-image: linear-gradient( to top, transparent 46%, rgba(12, 13, 19, 0.5)68%, rgba(12, 13, 19) 97% ); transform: perspective(1200px) translateY(0) rotateX(20deg) translateZ(5px); box-shadow: 2px 35px 32px -8px rgba(0, 0, 0, 0.75); }
.swiper-slide .card::before { content: ""; position: absolute; top: 63%; left: 50%; width: 100%; height: 100%; background: linear-gradient(180deg, rgba(255, 61, 0, 0.00) 0%, #FF3D00 100%); z-index: -2; border-radius: 100%; transform: translate(-50%, -50%) scaleY(-1); filter: blur(40px); opacity: 0; transition: all 0.35s ease-in-out; }
.swiper-slide .card:hover::before{ opacity: 1; }
.swiper-slide .card::after { content: ""; position: absolute; inset: 80% 8px 8px; translate: 0; transform: translateZ(-100px); background: black; filter: blur(30px); z-index: -1; transition: rotate 400ms, translate 400ms; }
.swiper-slide .card:hover::after { rotate: x calc(20deg * -1); }
.swiper-slide .card .slide-text{ min-height: 72px; padding: 16px 10px; border-radius: 0 0 8px 8px; background: rgba(128, 128, 128, 0.12); backdrop-filter: blur(4.5px); -webkit-backdrop-filter: blur(4.5px); transition: all 0.35s ease-in-out; }
.swiper-slide .card:hover .slide-text{ opacity: 0; }
.swiper-slide .card .slide-img{ height: 150px; width: 100%; margin: 0 auto; display: block; }
.swiper-slide .card .slide-img .bg-img{ height: 75%; width: 100%; object-fit: contain; object-position: center center; position: absolute; top: 10px; left: 0; transition: opacity 0.35s ease-in-out; }
.swiper-slide .card:hover .slide-img .bg-img{ opacity: 0; }
.swiper-slide .card .front-img { transform-origin: top; opacity: 0; position: absolute; z-index: 100; transition: 400ms; pointer-events: none; transform: translateY(-80px) translateZ(0px); }
.swiper-slide .card:hover .front-img { opacity: 1; transform: translate3d(0%, -51%, 1000px); }
.swiper-slide .card h2{ margin: 0; font-size: 16px; font-style: normal; font-weight: 400; line-height: normal; transition: all 0.35s ease-in-out; transform: translateY(16px) translateZ(0px); opacity: 0; position: absolute; left: 0; width: 100%; text-align: center; bottom: 20px; color: var(--primary); text-shadow: -3px 5px 4px rgb(0 0 0 / 40%); }
.swiper-slide .card:hover h2{ opacity: 1; transform: translate3d(0%, -51%, 1000px); }
.swiper-slide .card .slide-text p{ margin: 0; font-size: 9px; font-style: normal; font-weight: 400; line-height: normal; letter-spacing: 0.8px; }

/*===== Page Loader =====*/
#pageLoader{ position: fixed; top: 0; left: 0; width: 100%; height: 100lvh; background: var(--secondary); z-index: 9999; display: flex; align-items: center; justify-content: center; gap: 8px; }
#pageLoader span { display: inline-block; animation: scale 2s ease-in-out forwards; -webkit-animation: scale 2s ease-in-out forwards; font-size: 46px; font-style: normal; font-weight: 400; line-height: normal; opacity: 0.5; color: var(--secondary); }
#pageLoader span:nth-child(1) { animation-delay: 0s; -webkit-animation-delay: 0s; }
#pageLoader span:nth-child(2) { animation-delay: 0.2s; -webkit-animation-delay: 0.2s;}
#pageLoader span:nth-child(3) { animation-delay: 0.4s; -webkit-animation-delay: 0.4s;}
#pageLoader span:nth-child(4) { animation-delay: 0.6s; -webkit-animation-delay: 0.6s; }
#pageLoader span:nth-child(5) { animation-delay: 0.8s; -webkit-animation-delay: 0.8s; }
#pageLoader span:nth-child(6) { animation-delay: 1s; -webkit-animation-delay: 1s; margin-right: 20px; }
#pageLoader span:nth-child(7) { animation-delay: 1.2s; -webkit-animation-delay: 1.2s; }
#pageLoader span:nth-child(8) { animation-delay: 1.4s; -webkit-animation-delay: 1.4s; }
#pageLoader span:nth-child(9) { animation-delay: 1.6s; -webkit-animation-delay: 1.6s; }
#pageLoader span:nth-child(10) { animation-delay: 1.8s; -webkit-animation-delay: 1.8s; }
#pageLoader span:nth-child(11) { animation-delay: 2s; -webkit-animation-delay: 2s; }
#pageLoader span:nth-child(12) { animation-delay: 2.1s; -webkit-animation-delay: 2.1s; }
/* keyframe */
@keyframes scale { 0% { transform: scaleX(-1); opacity: 0.5; color: var(--secondary); } 50% { transform: scaleX(1); opacity: 1; color: var(--primary); } 100% { transform: scaleX(1); opacity: 1; color: var(--primary); } }
@-webkit-keyframes scale { 0% { transform: scaleX(-1); opacity: 0.5; color: var(--secondary); } 50% { transform: scaleX(1); opacity: 1; color: var(--primary); } 100% { transform: scaleX(1); opacity: 1; color: var(--primary); } }


/*===== Responsive =====*/
@media (max-width: 767px) {
    /* Banner */
    .main-banner .banner-img img:nth-child(1) { left: -14%;}
    .main-banner .banner-img img:nth-child(2) { left: 8%;}
    .main-banner .banner-img img:nth-child(3) { left: 19%;}
    .main-banner .banner-img img:nth-child(4) { right: 15%;}
    .main-banner .banner-img img:nth-child(5) { right: -4%;}

    /* Characters */
    .swiper-slide .card .front-img{scale: 0.85;}

    /* Page Loader */
    #pageLoader span{font-size: 24px;}
}
@media (max-width: 575px) {
    h1{ margin-bottom: 32px; font-size: 22px;}

    /* Logo */
    .head-logo img{width: 72px;}

    /* Banner */
    .main-banner .banner-img{height: 280px;}
    .main-banner .banner-img img:nth-child(1) { left: -24%; width: 220px; }
    .main-banner .banner-img img:nth-child(2) { left: 0%; width: 178px; }
    .main-banner .banner-img img:nth-child(3) { left: 10%; width: 245px; }
    .main-banner .banner-img img:nth-child(4) { right: -1%; width: 180px; }
    .main-banner .banner-img img:nth-child(5) { right: -32%; width: 220px; }
    
    /* Characters */
    .characters{padding: 32px 8px 4px;}
    .swiper-slide{width: 240px !important;}
}